.list{
justify-content: center;
  align-items: center;
  text-align: center;
}
.list-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.card-info{
    list-style: none;
    padding: 40px 45px;
    border-radius: 30px;
    background-color: #c0f6a1;
}

.card-info:hover{
    cursor: pointer;
    background-color: #a1f6af;
}