.slider-image {
  width: 100%;
}

.slider-text-container {
  display: none;
}

.slider-text {
  text-transform: uppercase;
  color: #001da3;
  font-size: 14px;
  font-weight: bold;
  background-color: #b600c99c;
  width: 50%;
  padding: 10px;
}

@media (min-width: 768px) {
  .slider-text-container {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
  } 
}

.contained-image {
  max-height: 500px;
  object-fit:cover;
}